* {
    margin: 0;
    padding: 0;
}

.body {
    min-height: 100vh;
    width: 100%;
    padding: 2rem 0;
    background-color: #f8f9fa;
}

.body h1 {
    text-align: center;
    margin: 2rem auto;
    font-size: 3rem;
    color: #333;
    font-weight: bold;
}

.body h2 {
    text-align: center;
    margin: 20px auto;
    font-family: "Trirong", serif;
    font-size: 2.5rem;
    color: #333;
}