.navbar-logo {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
}